
body {
    text-align: center;
  }
  /* General */
  
  /* Title section */
  #title {
    margin-bottom: 120px;
  }
  .logo {
    padding: 100px 0 60px;
  }
  .intro-paragraph {
    color: grey;
    padding: 0 20%;
  }
  .downloadbtn {
    margin: 50px 20px;
    width: 250px;
    border-radius: 50px;
  }
  
  /* Features 1 section */
  .feat1-p {
    padding: 0 23%;
    color: grey;
  }
  
  /* Features 2 section */
  #feature2 {
    margin-bottom: 70px;
  }
  .mac-img {
    width: 90%;
  }
  .feat2 {
    padding: 5% 0;
    text-align: left;
    padding-left: 90px;
  }
  .feat2-p {
    padding-right: 40%;
    color: grey;
  }
  
  /* Features 3 section */
  #feature3 {
    margin-bottom: 70px;
  }
  .feat3-p {
    padding: 0 23%;
    color: grey;
  }
  .feat3-img {
    width: 60%;
  }
  
  /* Features 4 section */
  #feature4 {
    margin-bottom: 70px;
  }
  .feat4-con {
    margin: 40px auto;
  }
  .feat4-icons {
    margin-bottom: 20px;
    color: grey;
  }
  .feat4-p {
    padding: 0 15%;
    color: grey;
  }
  
  /* Download section */
  #download {
    margin-bottom: 70px;
  }
  .download-p {
    padding: 0 23%;
    color: grey;
  }
  .downloadbtn2 {
    margin: 50px 20px;
    width: 250px;
    border-radius: 50px;
  }
  
  /* Contact me section */
  #cta {
    background-color: grey;
  }
  .logo2 {
    margin: 5%;
  }
  .contact-details {
    padding-bottom: 6%;
  }
  .contact-icon {
    margin: 20px;
  }
  .copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    
  }
  @media (max-width: 769px) {
    /* Title section */
    .downloadbtn {
      margin: 20px 20px;
    }
    .intro-paragraph {
      padding: 0 10%;
    }
  
    /* Feature 1 section  */
    .feat1-p {
      padding: 0 10%;
    }
  
    /* Feature 2 section  */
    .feat2 {
      text-align: center;
      padding-left: 0;
    }
    .feat2-p {
      padding: 0 20% 10px;
  
    }
  
    /* Feature 3 section  */
    .feat3-p {
      padding: 0 10%;
    }
  
    /* Download section */
    .downloadbtn2 {
      margin: 20px 20px;
    }
  }
  